<section class="flexcol">
    <div class="note info">
        {{ localize (ifThen isGroup "SHMN.REST.Short.Hint.Group" "SHMN.REST.Short.Hint.Normal") }}
    </div>

    {{#if fields.length}}
    <fieldset>
        <legend>{{ localize "SHMN.REST.Configuration" }}</legend>
        {{> "shmn.fieldlist" fields }}
    </fieldset>
    {{/if}}

    {{#if hitPoints.length}}
    <fieldset>
        <legend>{{ localize "SHMN.HitPoints" }}</legend>
        {{> "shmn.fieldlist" hitPoints }}
    </fieldset>
    {{/if}}

    {{#if hitDice}}
    {{#if hitDice.canRoll}}
    <fieldset>
        <legend>{{ localize "SHMN.HitDice" }}</legend>
        <div class="form-fields">
            <select name="denom">
                {{ selectOptions hitDice.options selected=hitDice.denomination }}
            </select>
            <button type="button" class="dice-button" data-action="rollHitDie" data-tooltip
                    aria-label="{{ localize 'SHMN.Roll' }}">
                <i class="fa-solid fa-dice-d20" inert></i>
            </button>
        </div>
        {{ formField autoRoll name="autoHD" value=config.autoHD input=inputs.createCheckboxInput rootId=partId }}
    </fieldset>
    {{else}}
    <div class="note warn">
        {{ localize "SHMN.REST.HitDice.None" }}
    </div>
    {{/if}}
    {{/if}}

    {{#if request}}
    {{> "systems/shmn/templates/actors/rest/rest-request.hbs" }}
    {{/if}}
</section>
