<fieldset class="card items table">
    <legend>{{ localize "SHMN.ADVANCEMENT.ItemChoice.FIELDS.pool.label" }}</legend>
    <div class="header">
        <div class="item-name name-header">{{ localize "DOCUMENT.Item" }}</div>
    </div>
    <ol class="items-list unlist">
        {{#each items}}
        <li class="item flexrow" data-item-uuid="{{ data.uuid }}">
            <div class="item-name">
                {{{ shmn-linkForUuid data.uuid renderBroken=true }}}
                <input type="hidden" name="configuration.pool.{{ @index }}.uuid" value="{{ data.uuid }}">
            </div>
            <div class="item-controls flexrow">
                <a class="item-control item-action" data-action="deleteItem" data-tooltip
                   aria-label="{{ localize 'SHMN.ItemDelete' }}">
                    <i class="fas fa-trash" inert></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>

    <div class="form-group">
        {{#if showContainerWarning}}
        <p class="hint centered warning">{{ localize "SHMN.ADVANCEMENT.ItemGrant.Warning.Container" }}</p>
        {{/if}}
        <p class="hint centered drop-area">{{ localize "SHMN.ADVANCEMENT.ItemChoice.DropHint" }}</p>
    </div>
</fieldset>
