<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    <fieldset {{ disabled disabled.activation }}>
        <legend>
            <label class="checkbox">
                {{ localize "SHMN.ACTIVATION.FIELDS.activation.label" }}
                {{#if (or activity.activation.canOverride activity.isRider)}}
                {{ formInput fields.activation.fields.override value=source.activation.override
                             input=inputs.createCheckboxInput
                             dataset=(shmn-object tooltip="SHMN.ACTIVATION.FIELDS.activation.override.hint")
                             ariaLabel=(localize "SHMN.ACTIVATION.FIELDS.activation.override.hint") }}
                {{/if}}
            </label>
        </legend>
        {{> "shmn.field-activation" activation=activity.activation fields=fields.activation.fields data=data.activation
            activationTypes=activationTypes inputs=inputs label="SHMN.ACTIVATION.FIELDS.activation.type.label" }}
    </fieldset>

    <fieldset {{ disabled disabled.duration }}>
        <legend>
            <label class="checkbox">
                {{ localize "SHMN.DURATION.FIELDS.duration.label" }}
                {{#if (or activity.duration.canOverride activity.isRider)}}
                {{ formInput fields.duration.fields.override value=source.duration.override
                             input=inputs.createCheckboxInput
                             dataset=(shmn-object tooltip="SHMN.DURATION.FIELDS.duration.override.hint")
                             ariaLabel=(localize "SHMN.DURATION.FIELDS.duration.override.hint") }}
                {{/if}}
            </label>
        </legend>
        {{> "shmn.field-duration" duration=activity.duration fields=fields.duration.fields data=data.duration
            durationUnits=durationUnits inputs=inputs }}
        {{ formField fields.duration.fields.concentration value=data.duration.concentration
           input=inputs.createCheckboxInput rootId=partId }}
    </fieldset>
</section>
