<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "systems/shmn/templates/activity/parts/activity-identity.hbs" }}
    {{#if behaviorFields.length}}
    <fieldset>
        <legend>{{ localize "SHMN.ACTIVITY.SECTIONS.Behavior" }}</legend>
        {{> "shmn.fieldlist" behaviorFields }}
    </fieldset>
    {{/if}}
    {{> "systems/shmn/templates/activity/parts/activity-visibility.hbs" }}
</section>
