<fieldset>
    <legend>{{ localize "SHMN.ItemWeaponDetails" }}</legend>

    {{!-- Weapon Type --}}
    {{ formField fields.type.fields.value value=source.type.value label="SHMN.ItemWeaponType" localize=true
                 choices=CONFIG.weaponTypes rootId=partId }}

    {{!-- Weapon Base --}}
    {{#if baseItemOptions.length}}
    {{ formField fields.type.fields.baseItem value=source.type.baseItem label="SHMN.ItemWeaponBase" localize=true
                 options=baseItemOptions rootId=partId }}
    {{/if}}

    {{!-- Proficiency --}}
    {{#unless system.isMountable}}
    {{ formField fields.proficient value=source.proficient blank="SHMN.Automatic" localize=true
                 choices=CONFIG.weaponAndArmorProficiencyLevels rootId=partId }}
    {{/unless}}

    {{!-- Weapon Mastery --}}
    {{ formField fields.mastery value=source.mastery choices=CONFIG.weaponMasteries labelAttr="label" rootId=partId }}

    {{!-- Weapon Properties --}}
    {{ formField fields.properties options=properties.options label="SHMN.ItemWeaponProperties" localize=true
                 input=inputs.createMultiCheckboxInput stacked=true classes="checkbox-grid" }}

    {{!-- Magical Properties --}}
    {{#if properties.object.mgc}}
    <div class="form-group split-group">
        <label>{{ localize "SHMN.ITEM.Property.Magical" }}</label>
        <div class="form-fields">

            {{!-- Attunement --}}
            {{#unless system.isMountable}}
            <div class="form-group label-top">
                <label>{{ localize "SHMN.Attunement" }}</label>
                <div class="form-fields">

                    {{!-- Attuned --}}
                    {{#if source.attunement}}
                    {{ formInput fields.attuned value=source.attuned input=inputs.createCheckboxInput
                                 ariaLabel=(localize "SHMN.Attuned") dataset=(shmn-object tooltip="SHMN.Attuned") }}
                    {{/if}}

                    {{!-- Attunement --}}
                    {{ formInput fields.attunement value=source.attunement choices=CONFIG.attunementTypes
                                 blank="SHMN.AttunementNone" localize=true }}
                </div>
            </div>
            {{/unless}}

            {{!-- Magical Bonus --}}
            {{ formField fields.magicalBonus value=source.magicalBonus step=1 placeholder="0" label="SHMN.Bonus"
                         localize=true classes="label-top" rootId=partId }}
        </div>
    </div>
    {{/if}}

    {{!-- Ammunition Type --}}
    {{#if properties.object.amm}}
    {{ formField fields.ammunition.fields.type value=source.ammunition.type choices=CONFIG.consumableTypes.ammo.subtypes
                 rootId=partId }}
    {{/if}}
</fieldset>

<fieldset>
    <legend>{{ localize "SHMN.Range" }}</legend>

    {{#if (or system.hasRange (not system.attackType))}}

    <div class="form-group split-group">
        <label>{{ localize "SHMN.RangeDistance" }}</label>
        <div class="form-fields">

            {{!-- Normal --}}
            {{ formField fields.range.fields.value value=source.range.value label="SHMN.Normal" localize=true
                         hint=false classes="label-top" rootId=partId }}

            {{!-- Long --}}
            {{ formField fields.range.fields.long value=source.range.long label="SHMN.Long" localize=true
                         hint=false classes="label-top" rootId=partId }}

            {{!-- Reach --}}
            {{#if (or system.isMountable (not (eq system.attackType "ranged")))}}
            {{ formField fields.range.fields.reach value=source.range.reach label="SHMN.RANGE.FIELDS.range.reach.label"
                         placeholder=(ifThen (eq system.range.reach null) "—" system.range.reach) localize=true
                         classes="label-top" rootId=partId }}
            {{/if}}
        </div>
    </div>

    {{!-- Units --}}
    {{ formField fields.range.fields.units value=source.range.units label="SHMN.Unit" localize=true hint=false
                 choices=CONFIG.movementUnits rootId=partId }}

    {{else}}

    <div class="form-group split-group">
        <label>{{ localize "SHMN.RangeDistance" }}</label>
        <div class="form-fields">

            {{!-- Reach --}}
            {{#if (eq system.attackType "melee")}}
            {{ formField fields.range.fields.reach value=source.range.reach label="SHMN.RANGE.FIELDS.range.reach.label"
                         placeholder=(ifThen (eq system.range.reach null) "—" system.range.reach) classes="label-top"
                         localize=true rootId=partId }}
            {{/if}}

            {{!-- Units --}}
            {{ formField fields.range.fields.units value=source.range.units label="SHMN.Unit" localize=true
                         hint=false choices=CONFIG.movementUnits classes="label-top" rootId=partId }}
        </div>
    </div>

    {{/if}}
</fieldset>

{{#if system.isMountable}}
    {{> "shmn.details-mountable" }}
{{/if}}

<fieldset>
    <legend>{{ localize "SHMN.DAMAGE.Title" }}</legend>
    <div class="form-fields">
        <p class="hint">{{ localize "SHMN.WEAPON.FIELDS.damage.hint" }}</p>
    </div>
    {{> "shmn.field-damage" fields=fields.damage.fields.base.fields source=source.damage.base types=damageTypes
        prefix="system.damage.base." denominationOptions=denominationOptions.base }}
</fieldset>

{{#if properties.object.ver}}
<fieldset>
    <legend>{{ localize "SHMN.Versatile" }}</legend>
    {{> "shmn.field-damage" fields=fields.damage.fields.versatile.fields source=source.damage.versatile
        prefix="system.damage.versatile." bonus=false numberPlaceholder=source.damage.base.number
        denominationOptions=denominationOptions.versatile }}
</fieldset>
{{/if}}
