<fieldset>
    <legend>{{ localize "SHMN.ItemEquipmentDetails" }}</legend>

    {{!-- Equipment Type --}}
    {{ formField fields.type.fields.value value=source.type.value label="SHMN.ItemEquipmentType" blank=""
                 localize=true options=equipmentTypeOptions rootId=partId }}

    {{!-- Equipment Base --}}
    {{#if baseItemOptions.length}}
    {{ formField fields.type.fields.baseItem value=source.type.baseItem label="SHMN.ItemEquipmentBase" blank=""
                 localize=true options=baseItemOptions rootId=partId }}
    {{/if}}

    {{!-- Proficiency --}}
    {{ formField fields.proficient value=source.proficient blank="SHMN.Automatic" localize=true
                 choices=CONFIG.weaponAndArmorProficiencyLevels rootId=partId }}

    {{!-- Armor --}}
    {{#if system.isArmor}}
    <div class="form-group split-group">
        <label>{{ localize "SHMN.Armor" }}</label>
        <div class="form-fields">

            {{!-- Value --}}
            {{ formField fields.armor.fields.value value=source.armor.value step=1 label="SHMN.AC" localize=true
                         classes="label-top" rootId=partId }}

            {{!-- Max Dex --}}
            {{#if hasDexModifier}}
            {{ formField fields.armor.fields.dex value=source.armor.dex label="SHMN.ItemEquipmentDexModAbbr"
                         placeholder="∞" localize=true classes="label-top" rootId=partId }}
            {{/if}}

            {{!-- Strength Requirement --}}
            {{#if system.isArmor}}
            {{ formField fields.strength value=source.strength label="SHMN.AbilityStr" placeholder="—" localize=true
                         classes="label-top" rootId=partId }}
            {{/if}}
        </div>
    </div>
    {{/if}}

    {{!-- Properties --}}
    {{ formField fields.properties options=properties.options label="SHMN.ItemEquipmentProperties" localize=true
                 input=inputs.createMultiCheckboxInput stacked=true classes="checkbox-grid checkbox-grid-3" }}

    {{!-- Magical Properties --}}
    {{#if properties.object.mgc}}
    <div class="form-group split-group">
        <label>{{ localize "SHMN.ITEM.Property.Magical" }}</label>
        <div class="form-fields">

            {{!-- Attunement --}}
            {{#unless system.isMountable}}
            <div class="form-group label-top">
                <label>{{ localize "SHMN.Attunement" }}</label>
                <div class="form-fields">

                    {{!-- Attuned --}}
                    {{#if source.attunement}}
                    {{ formInput fields.attuned value=source.attuned input=inputs.createCheckboxInput
                                 ariaLabel=(localize "SHMN.Attuned") dataset=(shmn-object tooltip="SHMN.Attuned") }}
                    {{/if}}

                    {{!-- Attunement --}}
                    {{ formInput fields.attunement value=source.attunement choices=CONFIG.attunementTypes
                                 blank="SHMN.AttunementNone" localize=true }}
                </div>
            </div>
            {{/unless}}

            {{!-- Magical Bonus --}}
            {{ formField fields.armor.fields.magicalBonus value=source.armor.magicalBonus step=1 placeholder="0"
                         label="SHMN.Bonus" localize=true classes="label-top" rootId=partId }}
        </div>
    </div>
    {{/if}}
</fieldset>

{{#if system.isMountable}}
    {{> "shmn.details-mountable" }}
{{/if}}
