<fieldset>
    <legend>{{ localize "SHMN.CONTAINER.Details" }}</legend>

    {{!-- Container Properties --}}
    {{ formField fields.properties options=properties.options input=inputs.createMultiCheckboxInput stacked=true
                 classes="checkbox-grid checkbox-grid-3" }}

    {{!-- Attunement --}}
    {{#if properties.object.mgc}}
    <div class="form-group">
        <label>{{ localize "SHMN.Attunement" }}</label>
        <div class="form-fields">

            {{!-- Attuned --}}
            {{#if source.attunement}}
            {{ formInput fields.attuned value=source.attuned input=inputs.createCheckboxInput
                         ariaLabel=(localize "SHMN.Attuned") dataset=(shmn-object tooltip="SHMN.Attuned") }}
            {{/if}}

            {{!-- Attunement --}}
            {{ formInput fields.attunement value=source.attunement choices=CONFIG.attunementTypes
                         blank="SHMN.AttunementNone" localize=true }}

        </div>
    </div>
    {{/if}}

</fieldset>

<fieldset>
    <legend>{{ localize "SHMN.CONTAINER.FIELDS.capacity.label" }}</legend>

    {{!-- Item Capacity --}}
    {{ formField fields.capacity.fields.count value=source.capacity.count placeholder="—" rootId=partId }}

    {{!-- Volume Capacity --}}
    <div class="form-group split-group">
        <label>{{ localize "SHMN.CONTAINER.FIELDS.capacity.volume.label" }}</label>
        <div class="form-fields">

            {{!-- Amount --}}
            {{ formField fields.capacity.fields.volume.fields.value value=source.capacity.volume.value
                         label="SHMN.Amount" localize=true classes="label-top" placeholder="—" rootId=partId }}

            {{!-- Units --}}
            {{ formField fields.capacity.fields.volume.fields.units value=source.capacity.volume.units
                         label="SHMN.Unit" localize=true classes="label-top" choices=CONFIG.volumeUnits
                         labelAttr="label" rootId=partId }}

        </div>
    </div>

    {{!-- Weight Capacity --}}
    <div class="form-group split-group">
        <label>{{ localize "SHMN.CONTAINER.FIELDS.capacity.weight.label" }}</label>
        <div class="form-fields">

            {{!-- Amount --}}
            {{ formField fields.capacity.fields.weight.fields.value value=source.capacity.weight.value
                         label="SHMN.Amount" localize=true classes="label-top" placeholder="—" rootId=partId }}

            {{!-- Units --}}
            {{ formField fields.capacity.fields.weight.fields.units value=source.capacity.weight.units
                         label="SHMN.Unit" localize=true classes="label-top" choices=CONFIG.weightUnits
                         labelAttr="label" rootId=partId }}

        </div>
    </div>
</fieldset>
