<fieldset>
    <legend>{{ localize "SHMN.ItemToolProperties" }}</legend>

    {{!-- Tool Type --}}
    {{ formField fields.type.fields.value value=source.type.value choices=CONFIG.toolTypes label="SHMN.ItemToolType"
                 blank="" localize=true rootId=partId }}

    {{!-- Base Tool --}}
    {{#if baseItemOptions.length}}
    {{ formField fields.type.fields.baseItem value=source.type.baseItem options=baseItemOptions blank=""
                 label="SHMN.ItemToolBase" localize=true rootId=partId }}
    {{/if}}

    {{!-- Tool Properties --}}
    {{ formField fields.properties options=properties.options label="SHMN.ItemToolProperties" localize=true
                 input=inputs.createMultiCheckboxInput stacked=true classes="checkbox-grid checkbox-grid-3" }}

    {{!-- Ability Check --}}
    <div class="form-group">
        <label>{{ localize "SHMN.ActionAbil" }}</label>
        <div class="form-fields">

            {{!-- Proficiency --}}
            {{ formField fields.proficient value=source.proficient choices=CONFIG.proficiencyLevels
                         label="SHMN.Proficiency" blank="SHMN.Automatic" localize=true classes="label-top"
                         rootId=partId }}

            {{!-- Ability --}}
            {{ formField fields.ability value=source.ability choices=CONFIG.abilities labelAttr="label"
                         label="SHMN.Ability" blank="SHMN.Default" localize=true classes="label-top" rootId=partId }}
        </div>
    </div>

    {{!-- Tool Bonus --}}
    {{ formField fields.bonus value=source.bonus localize=true }}

    {{!-- Attunement --}}
    {{#if properties.object.mgc}}
    <div class="form-group">
        <label>{{ localize "SHMN.Attunement" }}</label>
        <div class="form-fields">

            {{!-- Attuned --}}
            {{#if source.attunement}}
            {{ formInput fields.attuned value=source.attuned input=inputs.createCheckboxInput
                         ariaLabel=(localize "SHMN.Attuned") dataset=(shmn-object tooltip="SHMN.Attuned") }}
            {{/if}}

            {{!-- Attunement --}}
            {{ formInput fields.attunement value=source.attunement choices=CONFIG.attunementTypes
                         blank="SHMN.AttunementNone" localize=true }}
        </div>
    </div>
    {{/if}}
</fieldset>
