<section>
    <div class="form-group">
        <label>{{ localize "JOURNALENTRYPAGE.SHMN.SpellList.Type.Label" }}</label>
        <div class="form-fields">
            <select name="system.type">
                {{ selectOptions CONFIG.spellListTypes selected=system.type }}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "SHMN.Identifier" }}</label>
        <div class="form-fields">
            <input type="text" name="system.identifier" value="{{system.identifier}}">
        </div>
        <p class="hint">{{ localize "JOURNALENTRYPAGE.SHMN.SpellList.IdentifierHint" }}
    </div>

    <div class="form-group">
        <label>{{ localize "JOURNALENTRYPAGE.SHMN.SpellList.Grouping.Label" }}</label>
        <div class="form-fields">
            <select name="system.grouping">
                {{ selectOptions GROUPING_MODES selected=system.grouping localize=true }}
            </select>
        </div>
        <p class="hint">
            {{ localize "JOURNALENTRYPAGE.SHMN.SpellList.Grouping.Hint" }}
        </p>
    </div>

    <div class="form-group">
        <label>{{ localize "SHMN.Description" }}</label>
    </div>
</section>
