<header class="sheet-header">

    {{!-- Portrait --}}
    <div class="left">
        <div class="team-portrait-panel">
            <div class="team-rest-actions sheet-header-buttons">
                <button type="button" class="short-rest gold-button" data-action="rest" data-type="short" data-tooltip
                        aria-label="{{ localize 'SHMN.REST.Short.Label' }}">
                    <i class="fas fa-utensils" inert></i>
                </button>
                <button type="button" class="long-rest gold-button" data-action="rest" data-type="long" data-tooltip
                        aria-label="{{ localize 'SHMN.REST.Long.Label' }}">
                    <i class="fas fa-campground" inert></i>
                </button>
                {{#if editable}}
                <input type="color" class="team-color-picker" name="system.details.primaryColor"
                       value="{{ teamPrimaryColor }}" data-tooltip="SHMN.Team.PrimaryColor"
                       aria-label="{{ localize "SHMN.Team.PrimaryColor" }}">
                {{/if}}
            </div>
            <div class="team-portrait-row">
                <div class="portrait">
                    <img src="{{ document.img }}" alt="{{ document.name }}"
                        {{#if editable}}data-action="editImage" data-edit="img"{{/if}}>
                </div>
                <div class="team-contest-slot">
                    <button type="button" class="gold-button" data-action="teamContest" data-tooltip
                            aria-label="{{ localize "SHMN.TeamContest.Action.Start" }}">
                        <i class="fa-solid fa-dice-d6" inert></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Name & Cards --}}
    <div class="right">

        {{!-- Name --}}
        <div class="top">
            {{#if editable}}
            <input type="text" name="name" class="document-name uninput" value="{{ actor._source.name }}">
            {{else}}
            <div class="document-name">{{ document.name }}</div>
            {{/if}}
        </div>

        {{!-- Team Details --}}
        <div class="bottom">

            {{!-- Team Title --}}
            <div class="team-title card">
                <div class="header">
                    <h3>{{ localize "SHMN.Team.TeamTitle" }}</h3>
                </div>
                <div class="info">
                    <div class="team-title-value">
                        <span class="value">
                            {{#if editable}}
                            <input type="text" class="uninput" name="system.details.teamTitle"
                                   value="{{ teamTitle }}" placeholder="{{ localize "SHMN.Team.TeamTitlePlaceholder" }}">
                            {{else}}
                            {{#if teamTitle}}{{ teamTitle }}{{else}}&mdash;{{/if}}
                            {{/if}}
                        </span>
                    </div>
                    <div class="team-victories">
                        <span class="label">{{ localize "SHMN.Team.Victories" }}</span>
                        <span class="value">
                            {{#if editable}}
                            <input type="text" class="uninput" name="system.details.victories"
                                   value="{{ victories }}" data-dtype="Number" inputmode="numeric" pattern="[+=\-]?\d*">
                            {{else}}
                            {{ shmn-numberFormat victories }}
                            {{/if}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
