<nav class="tabs" data-group="primary" aria-roledescription="{{localize 'SHEETS.FormNavLabel'}}">
    {{#each tabs}}
    <a class="item control {{#if active}}active{{/if}} {{ cssClass }}" data-action="tab" data-group="primary"
       data-tab="{{ tab }}" data-tooltip aria-label="{{ localize label }}">
        {{#if icon}}<i class="{{ icon }}" inert></i>{{/if}}
        {{#if svg}}<shmn-icon src="{{ svg }}"></shmn-icon>{{/if}}
    </a>
    {{/each}}
</nav>
